<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      My Ingredients
    </h1>

    Add an ingredient to my pantry
    
    <p></p>
    
    or <a href="/ingredients/new">
      add a new ingredient
    </a> first
    
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Ingredient
        </th>
        <th>
          Description
        </th>
        <th>
        </th>
      </tr>
      
  <% Ingredient.where(user_id: current_user.id).each do |ingredient| %>
  <tr>
      <td>
        <a href="/ingredients/<%= ingredient.id %>">
          <%= ingredient.title %>
        </a>
      </td>
      <td>
        <%= ingredient.description %>
      </td>
      <td>
        <a href="/delete_ingredient/<%= ingredient.id %>">
          Delete
        </a>
      </td>
  </tr>
<% end %>
</table>